<div class="main-devise-container">
<div class="devise-c-form">

        <h3>Create a new product</h3>
        <%= simple_form_for @product do |f| %>
          <%= f.input :title, placeholder: 'Insert your product title here' %>
          <%= f.input :description, placeholder: 'What is your product about', as: :text, :input_html => { :cols => 5, :rows => 10 } %>
          <%= f.input :price , as: :numeric %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
     
</div>
</div>