<div class="main-devise-container">
<div class="devise-c-form">

        <h3>Create a new product</h3>
        <br>
        <p> Add your product to sell here, and we will take care of the rest! </p>
        <br>
        <%= simple_form_for @product do |f| %>
          <%= f.input :title, placeholder: 'Insert your product title here' %>
          <%= f.input :description, placeholder: 'What is your product about', as: :text, :input_html => { :cols => 5, :rows => 5 } %>
          <%= f.input :price, as: :numeric, placeholder: '500' %>
          <%= f.input :photo, placeholder: 'https://linktoyourimage.jpg' %>
          <br>
          <%= f.submit class: 'button' %>
        <% end %>
     
</div>
</div>