<div class="main-devise-container">
  <div class="d-flex justify-content-between align-content-*-center ">
    <div class="col mb-1">
      <div class="devise-c-form">

       <h3>Sell your stuff!</h3>
        <br>
        <p> Add your product for sale here, and we will take care of the rest! </p>
        <br>
        <%= simple_form_for @product do |f| %>
          <%= f.input :title, placeholder: "Insert your product title here" %>
          <%= f.input :description, placeholder: "What is your product about", as: :text, :input_html => { :cols => 5, :rows => 5 } %>
          <%= f.input :price, as: :numeric, placeholder: "500" %>
          <%= f.input :photo, placeholder: "https://linktoyourimage.jpg" %>
          <br>
          <%= f.submit 'Sell this item',class: "button" %>
        <% end %>

      </div>
    </div>
    <div class="col justify-content-*-center">
  <%= image_tag("https://res.cloudinary.com/dhz2o0n8s/image/upload/v1675178724/hunter_zmeppq.png",
                width: 600, crop: :fill) %>
  <br><br>
  <div class="text-center">
  <h3> # Free bounty offers! # </h3>
  <p> List your item for free on our website and enjoy free bounty packages! Offers exclusively to JabbaSouk customers. If ever you are being hunted by a bounty hunter note that we offer the posibility to pay your bounty and guess what! You will be staying alive. Contact our bounty hunter department for more info. </p>
  <br>
  <button class="button">
	<%= link_to "Back to store", "/" %>
	</button>
  </div>
  </div>
</div>
